.contact-page {
    p {
        @extend .p-font-size;
        font-weight: 300;
    }

    &__left {
        padding-top: 5vh !important;
        margin-bottom: 5vh !important;

        h2 {
            padding-left: 35px;

            &:after {
                left: 35px;
            }
        }

        &-text {
            p {
                padding: 0 5% 5% 35px !important;
            }
        }

        &-form {
            form {
                padding: 35px !important;

                label {
                    font-size: clamp(1rem, 1.2vw, 1.6rem);
                    letter-spacing: 1px;
                    margin-bottom: 16px !important;
                }

                input {
                    margin-bottom: 28px !important;
                }

                .form-check {

                    input[type=checkbox]
                        {
                        -ms-transform: scale(1.5); 
                        -moz-transform: scale(1.5); 
                        -webkit-transform: scale(1.5); 
                        -o-transform: scale(1.5); 
                        margin-left: -16px !important;
                        }

                    p {
                        font-size: clamp(.9rem, 1vw, 1.2rem);
                        line-height: clamp(.9rem, 1vw, 1.2rem);
                        margin-bottom: 60px !important;
                        padding-left: 2% !important;
                        width: 90%;
                        letter-spacing: 1px;
                    }
                }

                button {
                    border: 2px solid $gold;
                    color: $gold;
                    text-transform: uppercase;
                    padding: 1.5% 3% !important;
                    letter-spacing: 2px;
                    font-size: clamp(1rem, 1.2vw, 1.3rem);
                    text-decoration: none !important;
                    font-weight: 400;
                    background-color: $white;

                    &:hover {
                        background-color: $gold;
                        color: $white;
                    }
                }
            }
        }
    }

    &__right {
        background-color: $grey;
        padding: 5vh 0 5vh 35px  !important;

        h2 {
            left: 0!important;
        }

        h4 {
            font-size: clamp(1.2rem, 2vw, 1.4rem);
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $blue;
            padding-left: .5em;
            margin-bottom: 0 !important;
        }

        svg {
            fill: $gold;
        }

        p {
            font-weight: 300;
            padding-bottom: 5px !important;
        }

        a {
            color: $fontColor;
            @extend .parFontSize;
            font-weight: 300;
            padding-bottom: 5px !important;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
